* {
  box-sizing: border-box;
  border: none;
  font-family: 'Open Sans';
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F7F6;
  height: 100vh;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

h1,
.h1 {
  font-size: 24px;
  text-transform: uppercase;
}

h2,
p {
  font-size: 20px;
  text-transform: uppercase;
}

button,
input,
label {
  font-family: 'Open Sans';
  font-size: 18px;
  text-transform: uppercase;
}

button,
input {
  padding: 10px;
}

button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  margin-top: 80px;
}

button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* HEADER STYLES */
.header {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(194,194,194,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 100%);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
     -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
          box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;
}

.header nav {
  background-color: #000;
  background-image: url('../image/menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  cursor: pointer;
  width: 73px;
}

.header nav:hover {
  background-size: 55px;
}

.header h1 {
  position: relative;
  margin: auto;
  padding: 20px;
}

.top-players-list ul {
  color: #fff;
  cursor: default;
  background-color: #000;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 28%;
}

.top-players-list ul li {
  border-bottom: 2px solid #fff;
  list-style: none;
  margin: 0 20px;
  padding: 20px;
}

.top-players-list ul li:last-child {
  border-bottom: none;
}

.top-players-list ul li p {
  font-size: 16px;
  margin: 10px;
  text-transform: uppercase;
}

/* SWITCH STYLES */

.switch {
  align-self: center;
  background-color: #000;
  border-radius: 50px;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 10px 0 10px 40px;
  position: relative;
  margin: 0;
  width: fit-content;
}

.switch input {
  display: none;
}

.switch label {
  cursor: pointer;
  margin-right: 40px;
  transition: color 200ms ease-out;
}

.switch label:hover {
  color: red;
}

.switch__indicator {
  position: absolute;
  top: -20%;
  left: 10px;
  height: 3.5rem;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
  transform: translate3d(1rem, 0, 0);
  width: 3.5rem;
}

.switch input#one:checked ~ .switch__indicator {
  background-image: url('../image/one-user.svg');
  transform: translate3d(1.2rem, 0, 0);
}
.switch input#two:checked ~ .switch__indicator {
  background-image: url('../image/two-users.svg');
  transform: translate3d(5.5rem, 0, 0);
}

/* CONTENT STYLES */

.content {
  background-blend-mode: color;
  background: rgba(255, 255, 255, .9) url('../image/bg-image.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  height: 100vh;
}

.button--play-game {
  width: 100%;
}

.button--white {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.button--white:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}

.button--white:disabled:hover {
  box-shadow: none;
  cursor: default;
}

/* FIRST PAGE STYLES */

.player-input-form {
  height: 100%;
  padding: 0 15%;
}

.player-input-form label input {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
     -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  border-radius: 2px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

/* GAME EXPLONATION PAGE STYLES */
.game-explanation {
  height: 100%;
  padding: 0 10%;
}

.game-explanation h1 {
  margin-bottom: 20px;
  text-align: center;
}

.game-explanation article {
  margin-top: 20px;
  text-align: left;
}

/* WINNER BANNER PAGE STYLES */

.winner-information {
  align-items: center;
  height: 100%;
  padding: 0 10%;
}

.time-information {
  font-weight: 600;
  margin: 60px 0;
}

.winner-information footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.winner-page {
  width: 45%;
}

/* GAME PAGE STYLES */
.game-board {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 9fr 1fr;
  grid-template-areas: "first board";
}

.player-information {
  background-color: #000;
  color: #fff;
  grid-area: first;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.second-player {
  background-color: #000;
  color: #fff;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.game-board aside header {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}

.game-board aside header h2 {
  padding: 5px;
}

.game-board aside section {
  padding: 20px 0;
  width: 100%;
  border-top: 2px solid #fff;
}

.win-game-list {
  justify-content: flex-start;
  min-height: 55%;
}

.win-game-list article {
  margin: 20px 0;
}

.win-game-list article p {
  font-size: 16px;
}

.matches-number {
  margin-top: 20px;
  font-size: 64px;
}

.highlighted {
  color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);

}

.cards-place {
  grid-area: board;
  display: grid;
  grid-gap: 40px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: 'fst snd trd frth'
                      'sxth svth eth nth'
                      'elth twth ttth ftth';
  height: 100vh;
  padding: 5% 5%;
}

.cards-place div {
  background-color: #fff;
  background-image: url('../image/logo.jpg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  height: 175px;
  width: 120px;
}

.cards-place div:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.card-1 {
  grid-area: fst;
  transform: translateX(100%) rotateZ(10deg);
}

.card-2 {
  grid-area: snd;
  transform: translate(100%, -15px) rotateZ(-20deg);
}

.card-3 {
  grid-area: trd;
  transform: translateX(100%);
}

.card-4 {
  grid-area: sxth;
  transform: translateY(-10px) rotateZ(-25deg);
}


.card-5 {
  grid-area: svth;
  transform: translateY(30px) rotateZ(5deg);
}

.card-6 {
  grid-area: eth;
  transform: rotateZ(-5deg);
}

.card-7 {
  grid-area: nth;
  transform: translateY(50px) rotateZ(25deg);
}

.card-8 {
  grid-area: elth;
  transform: translate(60%, 15px) rotateZ(-2deg);
}

.card-9 {
  grid-area: twth;
  transform: translate(100%, 20px) rotateZ(10deg);
}

.card-10 {
  grid-area: ttth;
  transform: translate(100%, 30px) rotateZ(-2deg);
}

/* ERRORS */

.error {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.error-input {
  border: 1px solid red;
}

.error-input:focus {
  border: 1px solid red;
  outline: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255,0,0,0.5);
     -moz-box-shadow: 0px 0px 5px 0px rgba(255,0,0,0.5);
          box-shadow: 0px 0px 5px 0px rgba(255,0,0,0.5);
}

.error img {
  margin-right: 20px;
  width: 20px;
}

.error p {
  color: red;
  font-size: 16px;
}
